/* main rating */
.stars-rating {
    display: inline-block;
    vertical-align: top;
    font-size: 1.5em;
}
.stars-global {
  font-size: 0.5em;
}
/* set all stars to empty */
.stars-container .star {
    display: inline-block;
    padding: 2px;
    color: gold;
    cursor: pointer;
}
.stars-container .star:before {
    content:"\2606";
}
/* set hovered/selected star to 'filled star' */
.star:hover:before, .star.selected:before { /* csslint allow: adjoining-classes */
    content:"\2605";
}
/* set all stars after hovered/selected to filled
** it will appear that it selects all after due to positioning */
.star:hover ~ .star:before, .star.selected ~ .star:before { /* csslint allow: adjoining-classes */
    content:"\2605";
}
